.cardWrapper{
  position: relative;
  width: 237px;
  height: 100%;
  max-height: 160px;
  min-height: 160px;
  background: white;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  overflow: hidden;
  outline: none;
  transition: min-height 0.5s ease-in-out;

  &.withFullWidth {
    width: 514px;

    &.active {
      min-height: 340px;
      transition: min-height 0.5s ease-in-out;
    }

    @media screen and (max-width: 690px) {
      width: 238px;
    }
  }

  &.small {
    &.active {
      min-height: 180px;
      transition: min-height 0.5s ease-in-out;
    }
  }

  &.active {
    min-height: 300px;
    transition: min-height 0.5s ease-in-out;
  }

  &.withTopGap {
    margin-top: 40px;
  }

  &.withRightGap {
    margin-right: 40px;
  }

  @media screen and (max-width: 690px){
    right: 0;
    transition: min-height 0.5s ease-in-out 0.35s, right 0.5s ease-in-out;
    &.active {
      transition: min-height 0.5s ease-in-out, right 0.5s ease-in-out 0.35s;
      position: relative;
      right: -25px;
    }
  }
}

.titleBlock {
  position: relative;
  height: 160px;
  width: 100%;
}

.cardTitle {
  color: var(--colorGray);
  font-weight: normal;
  width: 100%;
  position: relative;
  top: -6px;
  left: -6px;
  font-weight: 900;
  font-size: 36px;
  line-height: 40px;

  .extraTitle {
    margin: 52px 0 0 0;
  }

  &.active {
    color: black;
  }
}

.cardInfo {
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: white;

  &.withWhiteBg {
    padding: 10px 20px 20px 20px;
    background: white;
  }
}

.infoBlock {
  display: flex;
  justify-content: space-between;

  &:first-child {
    margin: 0 0 16px 0;
  }

  .infoName {
    font-weight: 300;
    font-size: 16px;
    color: black;
  }
  .value {
    font-weight: 400;
    font-size: 16px;
    color: black;
  }
}
