.card {
  background: #FFFFFF;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 847px;
  height: 600px;
  position: relative;
  overflow: hidden;

  &.reverse {
    flex-direction: column-reverse;

    .imgBox {
      top: 0;
      width: 100%;
      height: 310px;

      @media screen  and (max-width: 690px) {
        .image {
          width: 100%;
          height: 142px;
        }
      }
    }

    .content {
      max-width: 100%;
      padding: 0 25px;
    }

    .textBlock {
      margin: 26px 0 58px 0;
    }

    .cardTitle {
      position: absolute;
      bottom: -16px;
      left: -14px;

      @media screen  and (max-width: 690px){
        font-size: 21px;
        bottom: -6px !important;
        left: -6px !important;
      }
    }

    @media screen  and (max-width: 690px){
      height: 643px;
    }
  }

  @media screen  and (max-width: 690px){
    width: 300px;
    flex-direction: column;
    height: auto;
  }
}


.imgBox {
  position: absolute;
  right: 0;
  z-index: 3;
  width: 400px;
  height: 600px;

  .image {
    width: 100%;
    height: 100%;
  }
  @media screen  and (max-width: 690px){
    position: relative;
    height: auto;
    width: auto;
  }
}

.content {
  padding: 20px 0 0 25px ;
  color: black;
  max-width: 490px;

  @media screen  and (max-width: 690px){
    padding: 20px 25px;
  }
}

.cardTitle {
  font-size: 47px;
  line-height: 100%;
  font-weight: 900;
  z-index: 10;
  position: relative;

  @media screen  and (max-width: 690px){
    font-size: 26px;
  }
}

.description {
  font-size: 14px;
  line-height: 100%;
  margin: 4px 0 0 0;
  font-weight: 300;

  @media screen  and (max-width: 690px){
    font-size: 10px;
  }
}

.textBlock {
  margin: 50px 0 0 0;

  .text {
    font-size: 18px;
    line-height: 100%;
    font-weight: 300;

    &:not(:last-child) {
      margin: 0 0 50px 0;
    }
  }

  @media screen  and (max-width: 690px){
    margin: 20px 0 0 0;
    .text {
      font-size: 16px;
    }
  }
}

.pagination {
  display: flex;
  margin: 25px 0;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.paginationButton {
  display: flex;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  background: var(--colorWhiteGray);

  &:hover {
    background: var(--colorLightGray);
  }

  &:not(:last-child) {
    margin: 0 20px 0 0;
  }

  &.active {
    background: black;
  }

}
