.card {
  background: #FFFFFF;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  width: 100%;
  height: 500px;
  max-width: 700px;
  overflow: hidden;
  touch-action: pan-y;
  transform: translateX(0);
  opacity: 1;
  transition: transform 0.3s ease-in-out,opacity 0.01s ease;

  &.out {
    opacity: 0;
    transform: translateX(-700px);
    transition: transform 0.3s ease-in-out, opacity 0.01s ease 0.3s;
  }

  &.in {
    opacity: 0;
    transform: translateX(700px);
    transition: transform 0.3s ease-in-out, opacity 0.01s ease 0.3s;
  }

  &.reverse {
    flex-direction: column-reverse;
    position: relative;

    .imgBox {
      width: 100%;

      @media screen and (min-width: 690px){
        .image {
          width: 100%;
        }
      }

      @media screen  and (max-width: 690px) {
        .image {
          width: 100%;
        }
      }
    }

    .content {
      max-width: 100%;
      padding: 25px;
    }

    .textBlock {
      margin: 0 0 34px 0;
    }

    .cardTitle {
      position: absolute;
      bottom: -12px;
      left: -14px;
      font-size: 42px;

      @media screen  and (max-width: 690px){
        font-size: 21px !important;
        bottom: -6px !important;
        left: -6px !important;
      }
    }

    @media screen  and (max-width: 690px) {
      height: auto;
    }
  }

  @media screen  and (max-width: 690px) {
    width: 300px;
    flex-direction: column;
    height: auto;
  }
}


.imgBox {
  z-index: 3;
  width: min-content;

  .image {
    height: 100%;
    display: flex;
  }


  @media screen  and (max-width: 690px){
    position: relative;
    height: auto;
    width: auto;

    .image {
      width: 100%;
    }
  }
}

.content {
  color: black;
  min-width: 470px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen  and (max-width: 690px){
    min-width: auto;
    padding: 20px 25px;
  }
}

.cardTitle {
  font-size: 45px;
  line-height: 100%;
  font-weight: 900;
  z-index: 10;
  position: relative;
  text-align: right;

  @media screen  and (max-width: 690px){
    font-size: 26px;
    text-align: center;
  }
}

.description {
  font-size: 16px;
  line-height: 100%;
  margin: 12px 0 0 0;
  font-weight: 300;
  text-align: right;

  @media screen  and (max-width: 690px){
    font-size: 12px;
    text-align: center;
  }
}

.textBlock {
  margin: 50px 0 0 0;

  .text {
    font-size: 18px;
    line-height: 100%;
    font-weight: 300;

    &:not(:last-child) {
      margin: 0 0 30px 0;
    }
  }

  @media screen  and (max-width: 690px){
    margin: 20px 0 0 0;
    .text {
      font-size: 16px;
    }
  }
}

.pagination {
  display: flex;
  margin: 25px 0;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 700px;
}

.arrowBtn {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;

  &.right {
    transform: rotate(90deg);
  }

  &.left {
    transform: rotate(270deg);
  }
}

.cardsContainer {
  overflow: hidden;
  padding: 10px;
}

.buttonBlock {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 24px 0 0 0;

  :first-child {
    margin: 0 8px 0 0;
  }

  :last-child {
    margin: 0 0 0 8px;
  }

  @media screen and (max-width: 690px) {
    justify-content: center;
  }
}
