.navigationWrapper {
  display: flex;
  flex-direction: column;
}

.navigationItem {
  color: black;
  padding: 20px 20px 20px 0;
  display: flex;
  justify-content: flex-end;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
  outline: none;
  transition: all 0.65s ease-in-out;


  &:not(:last-child) {
    margin: 0 0 80px 0;
  }

  &.active {
    pointer-events: none;
    background: #000000;
    color: white;
    font-weight: 500;

    &:focus {
      background: #000000;
      transition: all 0.45s ease-in-out;
    }
  }

  &.disabled {
    pointer-events: none;
    color: var(--colorLightGray);
  }

  &:hover {
    color: var(--colorLightGray);
    transition: color 0.25s ease-in-out;
  }
}
