.frameWrapper {
  position: absolute;
  left: 0;
  display: flex;
  width: 100%;

  @media screen and (max-width: 690px) {
    margin: 20px 0 0 0;
    position: inherit;
  }
}

.leftPart {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin: 0 54px 0 0;
  z-index: 12;
  background: white;
  transition: all 0.5s ease;
  left: -2000px;

  &.showLeftPart {
    left: 0;
  }

  &.fullWidth {
    right: 0;
    max-width: 100% !important;
  }

  .gallery {
    min-height: 840px;
  }

  @media screen and (max-height: 800px) and (min-width: 700px) and (max-width: 1200px){

    .gallery {
      min-height: auto;
      max-height: 560px;
    }
  }

  @media screen and (max-width: 690px) {
    margin: 0 14px 0 0;
    min-height: 596px;

    .gallery {
      min-height: 100%;
    }
  }
}

.rightPart {
  margin: 60px 0 0 54px;
  width: 100%;
  min-width: 100%;
  position: relative;
  transform: translateX(2000px);
  transition: transform 0.5s ease-in-out;

  &.showRightPart {
    transform: translateX(0px);
  }

  @media screen and (max-width: 690px) {
    margin: 0 0 0 14px;
  }
}

.heading {
  margin: 50px 0 0 0;
  max-width: 678px;

  .mainTitle {
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color: black;
    width: 100%;
  }

  @media screen and (max-width: 690px) {
    max-width: 256px;
    padding: 0 10px 0 0;
    margin: 20px 0 0 0;
    .mainTitle {
      font-size: 34px;
      line-height: 34px;
    }
  }
}

.slogan {
  display: flex;
  align-items: center;
  position: relative;
  padding: 6px 0 6px 0;
  background: #d3301f;
  color: white;
  width: 100%;
  overflow: hidden;

  .accent {
    position: relative;
    left: -14px;
    font-size: 48px;
    line-height: 48px;
    margin: 0 54px 0 0;
  }

  .sloganText {
    font-size: 14px;
    line-height: 14px;
  }

  @media screen  and (max-width: 690px){
    .accent {
      font-size: 18px;
      line-height: 30px;
      left: -6px;
      margin: 0;
    }

    .sloganText {
      font-size: 14px;
      line-height: 14px;
    }
  }
}
.bottomPartForMobile {
  margin: 20px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  max-width: 196px  ;

  .text {
    font-weight: 300;
    font-size: 12px;
    line-height: 12px;

    &:last-child {
      margin: 10px 0 0 0;
    }
  }

  .logoBox {
    margin: 70px 0 0 0;
  }

  img {
    width: 86px;
    height: 30px;
  }
}

.buttonsBlock {
  display: flex;
  align-items: center;
  margin: 24px 0 0 0;

  @media screen and (max-width: 690px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.orderBtn {
  margin: 0 8px 0 0;

  @media screen and (max-width: 690px) {
    margin: 0 0 8px 0;
  }
}

.storeLink {
  margin: 0 8px;

  @media screen and (max-width: 690px) {
    margin: 8px 0;
  }
}

.storeImg {
  width: 188px;
  height: 46px;

  @media screen and (max-width: 690px) {
    width: 158px;
    height: 32px;
  }
}
